 /* CSS RESET, CAN BE EXTENDED USING @layer base{}*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #121ff1;
}

.colors-row {
    display: flex;
    gap: 10px;
}